.container {
  display: grid;
  grid-template-rows: auto auto minmax(0, 1fr) auto auto;
}

.requests {
  display: flex;
  flex-grow: 1;
  gap: var(--mantine-spacing-xs);
  flex-direction: column;
  overflow: auto;

  margin: var(--mantine-spacing-xs) var(--mantine-spacing-md);
}
