/**
 * This file is part of bruno-app.
 * For license information, see the file LICENSE_GPL3 at the root directory of this distribution.
 */
.content {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 14rem 1fr;
}
