.editor {
  background-color: var(--mantine-color-body);
  border: 1px solid var(--mantine-color-gray-4);
  border-radius: var(--mantine-radius-xs);

  [data-mantine-color-scheme='dark'] & {
    border: 1px solid var(--mantine-color-dark-4);
  }

  & :global {
    .monaco-editor {
      outline: none !important;
    }

    .margin-view-overlays {
      background-color: var(--mantine-color-body);
      border-right: 1px solid var(--mantine-color-gray-4);
      [data-mantine-color-scheme='dark'] & {
        border-right: 1px solid var(--mantine-color-dark-4);
      }
    }

    .sticky-widget {
      background-color: var(--mantine-color-body) !important;
      box-shadow: var(--mantine-color-gray-4) 0 3px 2px -2px;
      [data-mantine-color-scheme='dark'] & {
        box-shadow: var(--mantine-color-dark-4) 0 3px 2px -2px;
      }
    }

    .minimap,
    .decorationsOverviewRuler {
      background-color: var(--mantine-color-body);
    }
  }
}
