/**
 * This file is part of bruno-app.
 * For license information, see the file LICENSE_GPL3 at the root directory of this distribution.
 */
.paper {
  height: fit-content; /* Monaco will auto set the height */
  width: 100%;

  padding: calc(var(--mantine-spacing-xs) - 2px);
  border: 1px solid var(--mantine-color-dark-4);
  border-radius: var(--mantine-radius-xs);
  background-color: var(--mantine-color-dark-6) !important;
  // This ensures corrent shrinking / expanding https://github.com/microsoft/monaco-editor/issues/3393
  display: grid;
  grid-template-columns: minmax(0px, auto);
  grid-template-rows: 100%;
}
.paper[data-focused='true'] {
  border-color: var(--mantine-primary-color-filled);
}

.paperHidden {
  width: 100%;
  height: fit-content; /* Monaco will auto set the height */

  background-color: transparent !important;

  // This ensures corrent shrinking / expanding https://github.com/microsoft/monaco-editor/issues/3393
  display: grid;
  grid-template-columns: minmax(0px, auto);
  grid-template-rows: 100%;
}

.editor {
  min-height: 22px;

  :global {
    .monaco-editor {
      .lines-content {
        padding-left: 0;
      }
      .view-line {
        font-family: var(--mantine-font-family-monospace);
        line-height: var(--mantine-line-height-sm);
        font-size: var(--mantine-font-size-sm);
        font-weight: 400;
      }
      .scroll-decoration {
        display: none;
      }
    }
  }
}
