.editor {
    background-color: var(--mantine-color-body);
    border: 1px solid var(--mantine-color-gray-4);
    border-radius: var(--mantine-radius-xs);

    [data-mantine-color-scheme='dark'] & {
        border: 1px solid var(--mantine-color-dark-4);
    }

    & :global .margin-view-overlays {
        background-color: var(--mantine-color-body);
        border-right: 1px solid var(--mantine-color-gray-4);
        [data-mantine-color-scheme='dark'] & {
            border-right: 1px solid var(--mantine-color-dark-4);
        }
    }
}
