/**
 * This file is part of bruno-app.
 * For license information, see the file LICENSE_GPL3 at the root directory of this distribution.
 */
.container {
  height: 100%;
  width: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: calc(50% - var(--mantine-spacing-xs)) 50%;
  gap: var(--mantine-spacing-xs);

  transition: grid-template-rows 0.2s ease-in-out;
  @media (prefers-reduced-motion) {
    transition: none;
  }

  &[data-pre-zoom-on='true'] {
    grid-template-rows: 80% calc(20% - var(--mantine-spacing-xs));
  }
  &[data-post-zoom-on='true'] {
    grid-template-rows: calc(20% - var(--mantine-spacing-xs)) 80%;
  }

  & > div {
    min-height: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 2rem minmax(0px, 1fr);
    gap: var(--mantine-spacing-xs);
  }
}
