/**
 * This file is part of bruno-app.
 * For license information, see the file LICENSE_GPL3 at the root directory of this distribution.
 */
.container {
  height: 100%;
  width: 100%;

  // This is mostly a hock to make both editors ALWAYS be exactly 50% percent in size
  // even when resizing the window. Could most likely be improved
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(calc(50% - var(--mantine-spacing-xs)), 2);
  gap: var(--mantine-spacing-xs);

  & > div {
    min-height: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto minmax(0px, 1fr);
  }
}
