.container {
  height: calc(100% - calc(var(--mantine-spacing-xs) * 2));
  width: 100%;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 50% 50%;
  gap: var(--mantine-spacing-xs);

  & > div {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
